@model IEnumerable<GroupSpace23.Models.Language>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Index";
}

<h1>@_localizer["Talen"]</h1>

<p>
    <a asp-action="Create">@_localizer["Maak een nieuwe taal aan"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @_localizer["Taal"]
            </th>
            <th>
                @_localizer["Systeemtaal?"]
            </th>
            <th>
                @_localizer["Beschikbaar vanaf"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSystemLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                     <a asp-action="Edit" asp-route-id="@item.Id"> @_localizer["Wijzigen"]</a> |
                                <a asp-action="Details" asp-route-id="@item.Id"> @_localizer["Details"]</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">@_localizer["Verwijderen"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
