@model IEnumerable<GroupSpace23.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nieuwe groep</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description of the event
            </th>
            <th>
                Date of the event
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Started)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Wijzigen</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Tonen</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
