@model IEnumerable<GroupSpace23.Models.UserIndexViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Index";
    string kommastring = "";
    string vertikaalStreepje = " | ";
}

<h1>@_localizer["Gebruikers"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @_localizer["Gebruiker"]
            </th>
            <th>
                @_localizer["Voornaam"]
            </th>
            <th>
                @_localizer["Achternaam"]
            </th>
            <th>
                @_localizer["E-mail"]
            </th>
            <th>
                @_localizer["Rollen"]
            </th>
            <th></th>
        </tr>
        <tr>
            <form asp-action="Index" asp-controller="Users" method="get">
                <th>
                    <input type="text" name="userName" class="form-control" value=@ViewData["userName"] onchange="$(this.form).submit();"/>
                </th>
                <th>
                <input type="text" name="firstName" class="form-control" value=@ViewData["firstName"] onchange="$(this.form).submit();"/>
                </th>
                <th>
                <input type="text" name="lastName" class="form-control" value=@ViewData["lastName"] onchange="$(this.form).submit();"/>
                </th>
                <th>
                <input type="text" name="email" class="form-control" value=@ViewData["email"] onchange="$(this.form).submit()"/>
                </th>
                <th> </th>
                <th></th>
            </form>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @{kommastring = "";}
                @foreach (string role in item.Roles)
                {
                        @kommastring @role
                        {
                            kommastring = ", ";
                        }
                }
            </td>
            <td>
                @if (item.Blocked)
                {
                                        <a asp-action="UnBlock" asp-route-userName="@item.UserName">@_localizer["Deblokkeren"]</a>
                    }
                    else
                    {
                                        <a asp-action="Block" asp-route-userName="@item.UserName">@_localizer["Blokkeren"]</a> @vertikaalStreepje
                                        <a asp-action="Roles" asp-route-userName="@item.UserName">@_localizer["Rollen"]</a>
                    }
            </td>
         </tr>
}
    </tbody>
</table>
