@model GroupSpace23.Models.GroupMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedBy.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Added)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Added)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Removed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Removed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemovedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemovedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
