@model GroupSpace23.Models.Mand
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Delete";
}

<h1>@_localizer["Verwijderen"]</h1>

<h3>@_localizer["Ben je zeker dat je dit wilt verwijderen?"]</h3>
<div>
    <h4>@_localizer["Bestelling"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @_localizer["Event"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient.Name)

        </dd>
        <dt class = "col-sm-2">
            @_localizer["Wat heb je nodig"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @_localizer["Extra informatie"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@_localizer["Verwijderen"] class="btn btn-danger" /> |
        <a asp-action="Index">@_localizer["Terug naar overzicht"]</a>
    </form>
</div>
