@model GroupSpace23.Models.Mand
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Details";
}

<h1>@_localizer["Details"]</h1>

<div>
    <h4>@_localizer["Bestelling"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @_localizer["Wat is jouw event"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient.Name)
            
        </dd>
        <dt class = "col-sm-2">
            @_localizer["Wat heb je nodig"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @_localizer["Extra informatie"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @_localizer["Order gamaakt de"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sent)
        </dd>
        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"> @_localizer["Wijzigen"]</a> |
    <a asp-action="Index"> @_localizer["Terug naar overzicht"]</a>
</div>
